p {font-size: 15px ; line-height: 1.5; margin-bottom: 15px ; }
#texto1 {font-size: 30px }
.titulo {font-size: 20px; font-family: 'IM Fell DW Pica', serif;}
body {background-color: blue; color: black; text-align: center;  }
#autor {font-style: italic; font-size: 30px; margin-bottom: 30px; font-family:'Kotta One', serif; }
.cancion {margin: auto; padding: 20px 0; text-align: left ; width: 400px;}
#parrafo1:first-letter {float:left;font-size:58px;line-height:1;margin:2px 5px 0 0;}
p:nth-last-child(2){background:rebeccapurple}